* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Josefin Sans", sans-serif;
  transition: all 0.7 ease-in-out;
  scroll-behavior: smooth;
}

[data-theme="darkTheme"] {
  background-color: hsl(235, 21%, 11%) !important;
  color: hsl(234, 39%, 85%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30vh;
  z-index: 9999;
  padding-top: 10vh;
  background-image: url("./images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-position: right left;
  background-size: cover;
}

[data-theme="darkTheme"] header {
  background-image: url("./images/bg-desktop-dark.jpg") !important;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 700px;
  padding: 0 2rem;
}
@media (min-width: 750px) {
  .header-container {
    padding: 0;
  }
}

h1 {
  letter-spacing: 15px;
  font-weight: 700;
  font-size: 2.2rem;
  color: hsl(0, 0%, 98%);
}

.light-dark-mode img {
  height: 2.4rem;
  width: 2.4rem;
}

[data-theme="darkTheme"] .add-to-do-container {
  background-color: hsl(235, 24%, 19%);
}

.add-to-do-wrapper {
  margin: auto;
}
.add-to-do-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  max-width: 700px;
  margin: 1rem 2rem;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  background-color: #fff;
}

@media (min-width: 750px) {
  .add-to-do-container {
    margin: 1rem auto;
  }
}
.checkbox-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid hsl(236, 9%, 61%);
  border-radius: 50%;
}

.checkbox:hover,
.checkbox:active,
.checkbox:visited {
  background-image: linear-gradient(to right, #3f5efb, #46fceb);
}

.checkbox img {
  opacity: 0;
}

.checkbox:active img {
  opacity: 1;
}

.input-new-todo {
  height: 2.5rem;
  border: none;
  border-radius: 8px;
  outline: none;
  direction: ltr;
  font-size: 1.1rem;
  background-color: transparent !important;
}

[data-theme="darkTheme"] .input-new-todo {
  color: hsl(236, 9%, 61%) !important;
}

.input-new-todo:active {
  border: none !important;
  outline: none !important;
}

/*---to dos container --*/
.to-do-lists-container {
  position: absolute;
  top: 35%;
  width: 100vw;
  overflow-y: scroll;
  border-radius: 20px;
}

.to-do-lists-inner-wrapper {
  max-width: 700px;
  margin: 1rem 2rem;
  padding-bottom: 0.7rem;
  border-radius: 5px;
  background-color: whitesmoke;
}

[data-theme="darkTheme"] .to-do-lists-inner-wrapper {
  background-color: hsl(235, 24%, 19%);
}

@media (min-width: 750px) {
  .to-do-lists-inner-wrapper {
    margin: 1rem auto;
  }
}

.to-do-list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  max-width: 700px;
  padding: 0.5rem 1.2rem;
  border-bottom: 1px solid hsl(236, 9%, 61%);
}

.to-do-list .close-button-container {
  margin-left: auto !important;
}

.to-do-list .to-do-text {
  padding: 0.375rem 0.75rem;
}

/*filters*/
.wrapper-mobile {
  padding-top: 0.7rem;
}

@media (min-width: 750px) {
  .wrapper-mobile {
    display: none;
  }
}

.to-do-lists-filters {
  display: flex;
  justify-content: space-between;
  flex-basis: 20px;
  gap: 1rem;
  padding: 1rem 1.2rem 0 1.2rem;
}

.to-do-filter-options-desktop {
  display: none;
}

@media (min-width: 750px) {
  .to-do-filter-options-desktop {
    display: flex;
    gap: 1rem;
  }
}
.to-do-filter-options-mobile {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 750px) {
  .to-do-filter-options-mobile {
    display: none;
  }
}

.item-filter {
  font-weight: 400;
  color: hsl(236, 9%, 61%);
  cursor: pointer;
}
.filter {
  font-weight: 700;
  color: hsl(236, 9%, 61%);
  cursor: pointer;
}

.filter:hover,
.filter:active {
  color: hsl(240, 88%, 43%);
}
